@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #07416b;
    --primary-color-2: #01060a;
    --primary-color-3: #042339;
    --primary-color-4: #0a5d99;
    --primary-color-5: #0d7ac9;

    --accent-color: #f0ca56;
    --accent-color-2: #cea012;
    --accent-color-3: #ecbb28;
    --accent-color-4: #f4d985;
    --accent-color-5: #f8e7b4;

    --secondary-color: #dbdbdb;
    --secondary-color-2: #a8a8a8;
    --secondary-color-3: #c2c2c2;
    --secondary-color-4: #f5f5f5;
    --secondary-color-5: #757575;

    --background-color: #fff;

    --text-color: #000000;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: var(--background-color);
}

.react-datepicker {
    position: absolute;
}

.grid-blog {
    grid-area: 1 / 4 / 3 / 5;
}

.grid-rows-13 {
    grid-template-rows: repeat(13, minmax(76px, 1fr));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--primary-color-2);
}

/* Планшеты и более крупные экраны
@media (min-width: 768px) */

@media (min-width: 1024px) {
    .title-text {
        font-size: 36px;
    }
}

/* Средние настольные мониторы
@media (min-width: 1280px) */

/* Большие настольные мониторы и телевизоры
@media (min-width: 1440px) */
.storyContainerStyles {
    display: grid;
}