.video-slider-container {
    padding: 20px;
}

.video-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-item {
    width: 100%;
    max-width: 320px;
}

.swiper-button-prev, .swiper-button-next {
    cursor: pointer;
    transition: background-color 0.3s;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: #2563eb;
}