.loader-container {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border-radius: 5px;
    display: flex;
}

.loader-bar {
    height: 100%;
    width: 25%;
    background-color: #f3f3f3;
    border-radius: 5px;
    position: relative;
}

// .loader-bar:before {
//     content: '';
//     position: absolute;
//     height: 100%;
//     width: 0;
//     background-color: #3498db;
//     border-radius: 5px;
// }

// .loader-bar1:before {
//     animation: loading 5s ease-in-out forwards;
// }

// .loader-bar2:before {
//     animation: loading 5s ease-in-out 5s forwards;
// }

// .loader-bar3:before {
//     animation: loading 5s ease-in-out 10s forwards;
// }

// .loader-bar4:before {
//     animation: loading 5s ease-in-out 15s forwards;
// }

// @keyframes loading {
//     0% {
//         width: 0;
//     }
//     100% {
//         width: 100%;
//     }
// }