header {
    background-color: rgba(7, 65, 107, 1);
    backdrop-filter: blur(70px);
}

.nav-category::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.nav-category {
    &.nav-active::before {
        background-color: var(--primary-color-5);
    }
}

.nav-active {
    background-color: rgba(217, 237, 252, 1);
}

.language-switcher {
    &:focus,
    &:active {
        background-color: #d9edfc;
    }
}

@media (min-width: 1024px) {
    .nav-category,
    .language-switcher {
        &:hover {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }

    .nav-active {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-category::before {
        display: none;
    }
}
